<body class="body-index">
    <!-- content-area -->

    <div class="container-index">
        <div class="left-sidebar">
        </div>

        <!-- main-content -->

        <div class="content-area">
            

            <div class="write-post-container">
                {{#if session}}
                <div class="user-profile">
                    <img id="sessionimage" src="{{session.image}}" onError="this.onerror=null;this.src='/images/default.png';" alt="">
                    <div>
                        
                        <p> {{session.fullname}}</p>
                        <input id="sessionid" type="hidden" value="{{session.id}}"/>
                        <small>Public <i class="fas fa-caret-down"></i></small>
                    </div>
                </div>
                {{/if}}

                <div class="post-upload-textarea">
                    <textarea onclick="post_topic('{{id}}')" name="" placeholder="What's on your mind, {{session.fullname}}?" id="" cols="30" rows="3"></textarea>
                    <div class="add-post-links">
                        <a href="#"><img src="/images/photo.png" alt="">Photo/Video</a>

                    </div>
                </div>
            </div>
            {{#each data}}
            <div id="counttopic{{stt}}" class="hide_topic_count">
                <div id="topich{{id}}" class="status-field-container write-post-container">
                    <div class="user-profile-box">
                        <div class="user-profile">

                            <img id="userimg{{userid}}{{stt}}" src="{{userimg}}" onError="this.onerror=null;this.src='/images/default.png';" alt="">
                            <div>
                                <input id="topicid_co{{stt}}" type="hidden" value="{{id}}"/>
                                <input id="uiss{{stt}}" type="hidden" value="{{userid}}"/>
                                <input id="ui{{id}}" type="hidden" value="{{userid}}"/>
                                <input id="role{{id}}" type="hidden" value="{{role}}"/>
                                <input id="stt{{id}}" type="hidden" value="{{stt}}"/>
                                <input id="cateu{{id}}" type="hidden" value="{{categories}}"/>
                                <input id="ct{{id}}" type="hidden" value="{{content}}"/>

                                <p id="fn{{id}}"> <a href="/topic/detail/{{userid}}">{{fullname}}</a> </p>
                                <small>{{categories}}</small>
                                <small>{{date_public}}, {{time_public}}</small>
                            </div>
                        </div>
                        
                        <div class="topic_option_hide" id="to{{userid}}{{stt}}">
                            <a onclick="topic_option('{{id}}')" href="#"><i class="fas fa-ellipsis-v"></i></a>
                        </div>
                        
                    </div>
                    <div class="status-field">
                        <p class="content_post_id" id="st{{id}}">{{subject}} </p>
                        <p><a href="/Ntopic/detail/{{id}}">Chi tiết thông báo</a></p>
                    {{#ifEquals image "mốt thêm sau"}}
                    {{else}}
                        
                        <img src="{{image}}" />
                    {{/ifEquals}}
                        
                        <iframe width="420" height="315" class="youtube_link_hide" id="link_youtube{{userid}}{{stt}}"
                            src="https://www.youtube.com/embed/{{code_youtube}}">
                        </iframe>
                    </div>
                </div>
            </div>
          
            {{/each}}
            <input id="comment_length" type="hidden" value="{{comment.length}}"/>
            <input id="data_length" type="hidden" value="{{data.length}}"/>
        </div>
        

        <!-- popup write -->
        <div class="modal fade" id="modelWrite" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelEdit" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabelEdit">Tạo bài viết</h4>
                  <button type="button" class="close" data-dismiss="modal" onclick="post_topic_close()">&times;</button>
                  
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                    <input type="hidden" id="T_userid" value="{{session.id}}"/>
                    <input type="hidden" id="T_username" value="{{session.fullname}}"/>
                    <input type="hidden" id="T_userrole" value="{{session.role}}"/>
                    <input type="hidden" id="T_userimage" value="{{session.image}}"/>

                    <div class="user-profile">
                        <img src="{{session.image}}" onError="this.onerror=null;this.src='/images/default.png';" alt="">
                        <div>
                            <p>{{session.fullname}}</p>
                            <small>Public <i class="fas fa-caret-down"></i></small>
                        </div>
                    </div>
                    
                    <div class="post-upload-textarea">
                        <textarea name="context-write" placeholder="Viết chủ đề cho thông báo, {{session.fullname}}?" id="T_subject" cols="20" rows="2"></textarea>
                        <textarea name="context-write" placeholder="Viết nội dung thông báo, {{session.fullname}}?" id="T_content" cols="40" rows="3"></textarea>
                        <div>
                            <p class="select_cate_sss">Chọn chuyên mục muốn đăng</p>
                            <select id="categories_userpk">
                            {{#each cate_all}}
                                <option value="{{name_cate}}">{{name_cate}}</option>
                            {{/each}}
                            </select>
                        </div>
                        <div class="alert-nopermission" id="alert-permission">
                            <span class="closebtn-nopermission" onclick="this.parentElement.style.display='none';">&times;</span> 
                            <strong>Bạn không có quyền đăng bài!</strong>
                        </div>
                       
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" onclick="pt_topic()">Đăng bài</button>
                  <button type="button" class="btn btn-dark" data-dismiss="modal" onclick="post_topic_close()">Đóng</button>
                </div>
                </form>
              </div>
            </div>
          </div>
        <!-- popup topic option -->
        <!-- popup topic edit -->
        <div class="modal fade" id="modelTOption" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelEdit" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabelEdit">Sửa/Xóa bài viết</h4>
                  <button type="button" class="close" data-dismiss="modal" onclick="topic_option_close()">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <input type="hidden" id="T_uiedit" />
                    <input type="hidden" id="T_tiedit" />
                    <input type="hidden" id="T_roleedit" />
                    <div class="user-profile">
                        <img src="{{session.image}}" onError="this.onerror=null;this.src='/images/default.png';" alt="">
                        <div>
                            <p id="topic_editFN"></p>
                            <small id="T_cateuser">Public <i class="fas fa-caret-down"></i></small>
                        </div>
                    </div>
                    <div class="post-upload-textarea">
                        <textarea  name="context-write"  id="T_subjectedit" cols="20" rows="2"></textarea>
                        <textarea  name="context-write"  id="T_contentedit" cols="40" rows="3"></textarea>
                        
                        
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" onclick="edit_topic()">Sửa bài viết</button>
                  <button type="button" class="btn btn-primary" onclick="delete_topic()">Xóa bài viết</button>
                  <button type="button" class="btn btn-dark" data-dismiss="modal" onclick="topic_option_close()">Đóng</button>
                </div>
                </form>
              </div>
            </div>
          </div>
        <!-- Confirm delete topic -->
        <div class="modal fade" id="TopicDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Xóa bài viết</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="delete_topic_close()">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                Bạn có chắc rằng muốn xóa bài viết này?
                </div>
                <input type="hidden" id="delid"/>
                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="del_topic()">Xóa</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal" onclick="delete_topic_close()">Đóng</button>
                </div>
            </div>
            </div>
        </div>
        <!-- End Confirm delete -->
        {{!-- pop up comment --}}
        <div class="modal fade" id="modelComment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelEdit" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabelEdit">Comment bài viết</h4>
                  <button type="button" class="close" data-dismiss="modal" onclick="topic_comment_close()">&times;</button>
                </div>
                
                <!-- Modal body -->
                <div class="modal-body">
                    <input type="hidden" id="T_comment_userid" value="{{session.id}}"/>
                    <input type="hidden" id="T_comment_username" value="{{session.fullname}}"/>
                    <input type="hidden" id="T_comment_userrole" value="{{session.role}}"/>
                    <input type="hidden" id="T_comment_userimage" value="{{session.image}}"/>
                    <input type="hidden" id="T_comment_topicid" />
                    <div class="user-profile">
                        <img src="{{session.image}}" onError="this.onerror=null;this.src='/images/default.png';" alt="">
                        <div>
                            <p> {{session.fullname}}</p>
                        </div>
                    </div>
                    <div class="post-upload-textarea">
                        <textarea name="context-write" placeholder="Write your comment, {{session.fullname}}?" id="T_comment_content"  rows="3"></textarea>
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" onclick="confirm_comment()">Bình luận</button>
                  <button type="button" class="btn btn-dark" data-dismiss="modal" onclick="topic_comment_close()">Đóng</button>
                </div>
                </form>
              </div>
            </div>
        </div>
        <!-- popup comment option -->
        <div class="modal fade" id="modelCOption" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabelEdit" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                  <h4 class="modal-title" id="exampleModalLabelEdit">Sửa/Xóa comment</h4>
                  <button type="button" class="close" data-dismiss="modal" onclick="topic_comment_option_close()">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                    <input type="hidden" id="T_comment_uiedit" />
                    <input type="hidden" id="T_comment_tiedit" />
                    <input type="hidden" id="T_commentid" />
                    <input type="hidden" id="T_comment_option_topicid" />
                    <div class="user-profile">
                        <img src="{{session.image}}" onError="this.onerror=null;this.src='/images/default.png';"     alt="">
                        <div>
                            <p id="topic_comment_editFN"></p>
                        
                        </div>
                    </div>
                    <div class="post-upload-textarea">
                        <textarea  name="context-write"  id="T_comment_contentedit" cols="30" rows="3"></textarea>
                        
                    </div>
                </div>
                <!-- Modal footer -->
                <div class="modal-footer">
                  <button type="button" class="btn btn-primary" onclick="edit_comment_topic()">Sửa bình luận</button>
                  <button type="button" class="btn btn-primary" onclick="delete_comment_topic()">Xóa bình luận</button>
                  <button type="button" class="btn btn-dark" data-dismiss="modal" onclick="topic_comment_option_close()">Đóng</button>
                </div>
                </form>
              </div>
            </div>
        </div>
        <!-- Confirm delete comment -->
        <div class="modal fade" id="CommentDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLabel">Xóa bình luận</h4>
                <button type="button" class="close" data-dismiss="modal" onclick="delete_comment_topic_close()">&times;</button>
                </div>
                <!-- Modal body -->
                <div class="modal-body">
                Bạn có chắc rằng muốn xóa bình luận này?
                </div>
                <input type="hidden" id="delid"/>
                <!-- Modal footer -->
                <div class="modal-footer">
                <button type="button" class="btn btn-danger" onclick="del_comment_topic()">Xóa</button>
                <button type="button" class="btn btn-dark" data-dismiss="modal" onclick="delete_comment_topic_close()">Đóng</button>
                </div>
            </div>
            </div>
        </div>
        <!-- sidebar -->
        <div class="test">
            
        </div>
        <div></div>
        <div></div>
    </div>
    <footer id="footer">
        <div class="divElement">
            <a href="#" id="loadMore">Load More</a>

            </p>
        </div>

    </footer>

    <script>

        $(function () {
            $(".hide_topic_count").slice(0, 10).show();
            $("#loadMore").on('click', function (e) {
                e.preventDefault();
                $(".hide_topic_count:hidden").slice(0, 10).slideDown();
                if ($(".hide_topic_count:hidden").length == 0) {
                    $("#load").fadeOut('slow');
                }
                $('html,body').animate({
                    scrollTop: $(this).offset().top
                }, 1500);
            });
        });

    $(".custom-file-input").on("change", function () {
        var fileName = $(this).val().split("\\").pop();
        $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
        let session_id = document.getElementById('sessionid').value
        //data_length
        let data_length = document.getElementById('data_length').value
        let comment_length = document.getElementById('comment_length').value
        //userimg{{userid}}{{stt}}
        
        let hide_post = 0
        // for hiển thị option topic
        for(let i =1;i<=data_length;i++){
            let uiss = document.getElementById('uiss'+i).value
            if (uiss == session_id){
                document.getElementById('to'+session_id+i).style.display = "block";
            }
            /*if( i >=2){
                document.getElementById('counttopic'+i).style.display = "none"
                hide_post = hide_post +1
            }*/
            issrcvalue = document.getElementById('link_youtube'+uiss+i).src
            if(issrcvalue == "https://www.youtube.com/embed/"){
                document.getElementById('link_youtube'+uiss+i).style.display = "none";
            }
            
        }
        //alert(hide_post)
        function show_post(){

        }
        //couserimg{{userid_comment}}{{topicid_comment}}{{stt}}{{../stt}}
        //for hiển thị option comment
        for(let y =1;y<=data_length;y++){
            let topicid_topic_sa = document.getElementById('topicid_co'+y).value
            content_topic_change = document.getElementById('ct'+topicid_topic_sa).innerText
            //alert(y)
            for (let x = 1; x<=comment_length;x++){
                
                let userid_comment = document.getElementById('userid_comment_z'+x).value
                

                if(userid_comment == session_id){
                    
                    document.getElementById('co'+userid_comment+x+y).style.display = "block";
                }
            }
        }
        
        function fix_href(){
            let data_length = document.getElementById('data_length').value
            lastest_content = ""
            for(let u =1;u<=data_length;u++){
                var urlregex3 = /(https?:\/\/[^\s]+)/g;
                let topicid_topic_sa = document.getElementById('topicid_co'+u).value
                content_topic_change = document.getElementById('ct'+topicid_topic_sa).innerText
                content_topic_change = content_topic_change
                condition_abandon = content_topic_change.replace(urlregex3, '<a href="$1">$1</a>')

                if(content_topic_change == condition_abandon){
                    lastest_content = ""
                }
                else {
                    content_split_change = content_topic_change.split(" ")
                    for (let o=1 ;o<= content_split_change.length;o++){
                        /*if(content_split_change[i] == "<A"){
                            lastest_content = lastest_content +""
                        }*/
                    }
                    document.getElementById('ct'+topicid_topic_sa).innerHTML = content_topic_change
                    //alert(content_topic_change)
                }
            }
        //alert(p)
        }
        fix_href();
        
     
        function post_topic(id){
            //$('#delname').text(ht)
            $('#modelWrite').modal('show')
        }

        function post_topic_close(){
            $('#modelWrite').modal('hide')
        }
        

        function pt_topic(){
            
            let categories_userpk = document.getElementById('categories_userpk').value
            if (categories_userpk ==""){
                document.getElementById('alert-permission').style.display = "block"
            }
            else{
                let topic_subject = document.getElementById('T_subject').value
                let id = document.getElementById('T_userid').value
                let name_text =document.getElementById('T_username').value
                let content_text =document.getElementById('T_content').value
                let role_text = document.getElementById('T_userrole').value
                let userimage_text = document.getElementById('T_userimage').value
                
                let categories_userpk_url =""
                const myArrc = categories_userpk.split(" ");
                for (const i in myArrc){
                    if (categories_userpk_url == ""){ categories_userpk_url = categories_userpk_url + myArrc[i]}
                    else{categories_userpk_url = categories_userpk_url + "+" + myArrc[i]}
                }

                let topic_subject_url = ""
                const myArrts = topic_subject.split(" ");
                for (const i in myArrts){
                    if (topic_subject_url == ""){ topic_subject_url = topic_subject_url + myArrts[i]}
                    else{topic_subject_url = topic_subject_url + "+" + myArrts[i]}
                }

                let name_url = ""
                const myArr = name_text.split(" ");
                for (const i in myArr){
                    if (name_url == ""){ name_url = name_url + myArr[i]}
                    else{name_url = name_url + "+" + myArr[i]}
                }
                code_youtube = ""
                var urlregex2 = /(https?:\/\/[^\s]+)/g;
                text_convert_link_href = content_text.replace(urlregex2, '<a href="$1">$1</a>')
                //alert(text_convert_link_href)
                if(content_text == text_convert_link_href){
                    code_youtube = ""
                }
                else{
                    var urlRegex = /^.*(youtu\.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
                url_link_youtube = content_text.replace(urlRegex, '$2')
                const code_link_youtube = url_link_youtube.split(" ");
                code_youtube = code_youtube + code_link_youtube[0]
                //alert(url_link_youtube)
                }
                let content_url = encodeURIComponent(text_convert_link_href)
                
                //alert(content_url)
                $('#modelWrite').modal('hide')
                test = "/pNtopic/?id="+id+"&name="+name_url+"&content="+content_url+"&role="+role_text+"&cy="+code_youtube+"&userimg="+userimage_text+"&subject="+topic_subject_url+"&cateuser="+categories_userpk_url
                $.ajax({
                    url: test,
                    method:'post',
                    success:function(data){
                        window.location.reload();
                    },
                    error:function(data){
                    console.log('error')
                        console.log(data)
                    }
                })
            }
            
        

    }
             
        // hiện bản chỉnh sửa topic
        function topic_option(id) {
            //alert(id)
            let userid_topic = document.getElementById("ui"+id).value
            let role_topic = document.getElementById("role"+id).value
            let fullname_topic = document.getElementById("fn"+id).innerText
            let cateuser_topic = document.getElementById("cateu"+id).value
            let subject_topic = document.getElementById("st"+id).innerText
            let content_topic = document.getElementById("ct"+id).value
            document.getElementById('T_cateuser').innerHTML = cateuser_topic;
            document.getElementById('T_uiedit').value = userid_topic;
            document.getElementById('T_tiedit').value = id;
            document.getElementById('T_roleedit').value = role_topic;
            document.getElementById('topic_editFN').innerHTML = fullname_topic;
            document.getElementById('T_subjectedit').innerHTML = subject_topic;
            document.getElementById('T_contentedit').innerHTML = content_topic;

            //alert(content_topic)
            
            $('#modelTOption').modal('show')
        }

        function topic_option_close(){
            $('#modelTOption').modal('hide')
        }
        // hàm thực hiện chỉnh sửa topic
        function edit_topic(){
            let topicid_text = document.getElementById('T_tiedit').value
            let userid_topic_text =document.getElementById('T_uiedit').value
            let content_topic_text =document.getElementById('T_contentedit').value
            let role_topic_text = document.getElementById('T_roleedit').value
            let stt_topic = document.getElementById('stt'+topicid_text).value
            let userimage_topic = document.getElementById('sessionimage').src
            let subject_topic_text = document.getElementById('T_subjectedit').value
            //alert(userimage_topic)

            let topic_subject_url = ""
            const myArrts = subject_topic_text.split(" ");
            for (const i in myArrts){
                if (topic_subject_url == ""){ topic_subject_url = topic_subject_url + myArrts[i]}
                else{topic_subject_url = topic_subject_url + "+" + myArrts[i]}
            }

            code_youtube = ""
            var urlregex2 = /(https?:\/\/[^\s]+)/g;
            text_convert_link_href = content_topic_text.replace(urlregex2, '<a href="$1">$1</a>')
            //alert(text_convert_link_href)
            if(content_topic_text == text_convert_link_href){
                code_youtube = ""
            }
            else{
            var urlRegex = /^.*(youtu\.be\/|v\/|u\/\w\/|embed\/|watch\?v=|\&v=)([^#\&\?]*).*/;
            url_link_youtube = content_topic_text.replace(urlRegex, '$2')
            const code_link_youtube = url_link_youtube.split(" ");
            code_youtube = code_youtube + code_link_youtube[0]
            //alert(url_link_youtube)
            }
            let content_url = ""
            const myArr1 = text_convert_link_href.split(" ");
            for (const i in myArr1){
                if (content_url == ""){ content_url = content_url + myArr1[i]}
                else{content_url = content_url + "+" + myArr1[i]}
            }
            //alert(content_url)
            //userimg{{id}}
            $('#modelTOption').modal('hide')
            document.getElementById("st"+topicid_text).innerHTML = subject_topic_text
            //document.getElementById("userimg"+userid_topic_text+stt_topic).src = userimage_topic
            //alert(text_convert_link_href)
            
            document.getElementById("link_youtube"+userid_topic_text+stt_topic).src = "https://www.youtube.com/embed/"+code_youtube
            
            //id="link_youtube{{userid}}{{stt}}" src="https://www.youtube.com/embed/{{code_youtube}}"
                        
            test = "/editNtopic/?idt="+topicid_text+"&userid="+userid_topic_text+"&contentedit="+content_url+"&subjectedit="+topic_subject_url+"&role="+role_topic_text+"&cy="+code_youtube
            //alert(test)

            $.ajax({
                url: test,
                method:'get',
                success:function(data){
                    window.location.reload();
                },
                error:function(data){
                console.log('error')
                    console.log(data)
                }
            })
        }
        // hiện bản xóa topic
        function delete_topic(){
            $('#TopicDelete').modal('show')

        }
        function delete_topic_close(){
            $('#TopicDelete').modal('hide')
        }
        // hàm thực hiện xóa topic
        function del_topic() {
            let topic_id = document.getElementById('T_tiedit').value
            $('#TopicDelete').modal('hide')
            $('#modelTOption').modal('hide')
            document.getElementById('topich'+topic_id).style.display = 'none';
            
            //dung ajax gui request len link delete
            $.ajax({
                url: '/deleteNtopic/?idt='+topic_id,
                method:'get',
                success:function(data){
                    $('#tr'+id).remove()
                    window.location.reload();
                },
                error:function(data){
                    console.log(data)
                }
            })
        }
        

    

    </script>
</body>
</html>